body{
  margin:0px 0px 0px;
  /*background-color: #c8ffd08c;*/
  background-image: url(pexels-photo-743986);"
}

html {
  scroll-behavior: smooth;
}
.navbar{

  margin-top: 0px;
  height: 400px;
  width: 100%;
  background-image: url(kristopher-allison-uT0PkbAM8kg-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  /*position: fixed;
  top: 0;*/

}
#navbar{
  display: flex;
  padding:50px 0px 0px 470px;

}
#navbar li{
  
  list-style: none;


}
#navbar a{
  text-decoration: none;
  color: #83302c;
  padding: 0px 20px 0px;
  letter-spacing: 3px;
  font-weight: bolder;

}
#navbar a:hover{
  color: orange;
  transition: .6s;
  border-radius: 30px;
  
  text-shadow: 3px 3px 5px white;
}

#navsearchbar{
  float: right;
  height: 50px;
  margin-top: -20px;
  margin-right: 50px;
  display: flex;
  
}
#navsearchbar label{
  padding: 0px 10px 0px;
  font-weight:normal;
  font-size: 20px;
  font-family: monospace;
}
#navsearchbar input{
  height: 25px;
  border-style: none;
  margin-right: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

}
#navsearchbar img{
  
  height: 27px;
  width: 25px;
  border-top-right-radius:30px;
  border-bottom-right-radius: 30px;
}
#imagediv{
  height: 25px;
  width: 25px;
  margin-left: -30px;

}
#navbar1{

  height: 45px;
  width: 35%;
  display: flex;
  
  margin: 5rem 0rem 0rem 35rem;
}
#navbar1 a{
  letter-spacing: .3px;
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;

}
#navbar1 p:hover{
  background-color:lightgrey;

}
 #p1{
  height: 30px;
  width: 228px;
  margin: 0px 5px 0px;
  padding: 14px 0px 0px;
  text-align: center;
  background-color: white;
  border-radius: 4px;
}
#p2{
  height: 30px;
    width: 125px;
    margin: 0px 5px 0px;
    padding: 14px 0px 0px;
    text-align: center;
    border:2px solid white;
    border-radius: 4px;
    
}
#p3 {
  height: 30px;
    width: 120px;
    margin: 0px 5px 0px;
    padding: 14px 0px 0px;
    text-align: center;
    background-color: white;
  border-radius: 4px;
}
#navbar1 a{
  text-decoration: none;
  color: brown;

}
#pagename{
  height: 45px;
  font-size: 70px;
  text-align: center;
  letter-spacing: 8px;
  font-weight: normal;
  color: #5d070757;
}
/*MAIN*/

#div1{
      padding-left: 100px;
    /* margin-right: 50px; */
    padding-top: 50px;
    /* margin-bottom: 80px; */
    font-family: sans-serif;
    backdrop-filter: brightness(0.5);
}

#h4{
    
        color: #111111;
    margin-left: 6px;
}
#h1{
        font-size: 70px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 4px;
    color: #71323d;
}
#text1{
        margin-left: 8px;
    font-size: medium;
    font-weight: 600;
    color: #fbffc0f0;
}

#section{
background-image: url(backg.jpeg); 
          display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;


}


.mydiv {
    /* margin-top: 3px; */
    font-size: small;
}


.link_container {
    margin-left: 10px;
    margin-right: 80px;
    margin-top: 40px;
    margin-bottom: 100px;
    /*width: 400px;*/
    height: 300px;
    padding-right: 0px;
}

.imgdiv {
        margin-bottom: 7px;
}


.article_heading {
            margin-top: 4px;
    font-family: cursive;
    color: #76490fde;
  font-size: medium;
}


.text {
        margin-top: -10px;
    color: #3b353be3;
}
.read_article{
            color: #fbf8f8;
    height: 30px;
    width: 125px;
    
    /* padding: 14px 0px 0px; */
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    background-color: turquoise;
    margin-top: 10px;
    
}
.read_article:hover{
   background-color: #ee2727;
   filter: drop-shadow(5px 5px 5px #222);
}

/*FOOTER*/

.foot{
  
  height: 300px;
  width: 100%;
  display: flex;
  background-image: url(pexels-daniel-absi-952670.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(to right,#718d07, #769099);*/
}
.links{
  height: 300px;
  width: 33%;
  
}
#links1 li{
  text-align: left;
  margin-left:290px;
  list-style: none;
  padding: 15px 0px 0px;
}
#links1  a{
  text-decoration: none;
  color: #6f9799;
  font-weight: bolder;
}
#links1  a:hover{
  color:#657233;
}
.news{
  height: 300px;
  width: 34%;


  
}
#news1{
  border-left: 2px solid cyan;
  border-right: 2px solid cyan;
  height: 173px;
}
#news1 li{
  text-align: left;
  margin: 0px 20px 0px;
  font-size: 17px;
  color: #91a3a9;

}

.contact{
  height: 300px;
  width: 33%;
  
}
.contact p{
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
  color: white;
}
#contact1{
  height: 45px;
  width: 380px;
  display: flex;
  margin: 45px 40px 0px;
}
.contactimage{
  height: 45px;
  width: 48px;
  margin: 0px 21px 0px;

}
.footheading {
  text-align: center;
  letter-spacing: 5px;
  color:#d7d7d7ad;
  text-decoration: overline;
  text-decoration-color: lightgreen;
}
.contactimage img{
  
  margin: 0px 0px 0px;
  background-position: center;
  height: 45px;
  width:48px;
}
.contactimage img:hover{
  opacity: .7;
  //border: 1px solid grey;
  filter: drop-shadow(5px 5px 5px #222);
  transition: .3s;
}
b{
  color: black;

}